body{
    margin: 0;
    font-family: 'Roboto';
    background-color: lightgray;
}

*{
    font-family: 'Roboto';
}
.formato{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    justify-content: space-evenly;
    display: flex;
    margin-top: 5%;
    font-size: 20px;
    text-align: start;
    
}
#mess{
    margin-top: 1%;
    border-radius: 5px;
    border: 2px gray solid;
    width: 90%;
    font-size: 75%;
    text-align: start;
    font-family: 'Roboto';


}

#llave{
    margin-top: 1%;
    border-radius: 5px;
    border: 2px gray solid;
    width: 90%;
    font-size: 75%;
    text-align: start;
    font-family: 'Roboto';

}

#resultado,#rs{
    border: 0;
    text-align: center;
    font-size: 75%;
    width: fit-content;
}

#cadena{
    border-radius: 5px;
    border: 2px gray solid;
    width: 100%;
    font-size: 75%;
    text-align: start;
    font-family: 'Roboto';
    
}
#ci,#de{
    background-color: blue;
    border-radius: 4px;
    border: blue 1px solid;
    color: white;
    width: 30%;
    text-align: center;
    height: 30px;
    font-size: 75%;
}
#ci:hover,#de:hover{
    background-color:  rgb(10, 10, 173);
    border-radius: 4px;
    border: rgb(10, 10, 173) 1px solid;
    color: white;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    
    font-size: 20px;

}

li {
  
    float:left;
     
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(3, 3, 3);
}

.active {
    background-color:rgb(10, 10, 173);
}
